body {
  margin: 0;
  padding: 0;
}

/* Osnovni stil za header */
header {
  background-color: #333; /* Boja pozadine */
  color: white; /* Boja teksta */
  padding: 10px 0; /* Prostor iznad i ispod headera */
}

/* Stil za CineMAX link u headeru */
.cinemax-logo {
  color: rgb(28, 103, 168);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  opacity: 0.8;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.location,
.contact-info {
  flex: 1;
  margin: 0 10px;
}

.location h3,
.contact-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.location p,
.contact-info p {
  font-size: 1rem;
  margin: 0;
}
