body {
  margin: 0;
  padding: 0;
}

/* Osnovni stil za header */
header {
  background-color: #333; /* Boja pozadine */
  color: white; /* Boja teksta */
  padding: 10px 0; /* Prostor iznad i ispod headera */
}

/* Stil za CineMAX link u headeru */
.cinemax-logo {
  color: rgb(28, 103, 168);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  opacity: 0.8;
}

/* Stil za footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  width: 100%;
}
/* Stil za link "ovde" u footeru */
footer a {
  text-decoration: none;
  color: white; /* Boja linka */
  font-weight: bold;
}

footer a:hover {
  color: #004e9e; /* Boja linka na hover */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.location,
.contact-info {
  flex: 1;
  margin: 0 10px;
}

.location h3,
.contact-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.location p,
.contact-info p {
  font-size: 1rem;
  margin: 0;
}

/* Stil za uvodni deo na početnoj stranici */
.welcome-section {
  background-image: url("img/background.jpg"); /* Dodajte putanju do pozadinske slike */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
  height: calc(100vh - 120px); /* 120px - Visina headera i footera */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Stil za dugme za rezervaciju */
.reserve-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff5722; /* Boja dugmeta */
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
}

.reserve-button:hover {
  background-color: #ff4500; /* Boja dugmeta na hover */
}

/* Stil za srednju sekciju sa lokacijama */
.location-section {
  background-image: url("img/background.jpg"); /* Dodajte putanju do pozadinske slike */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
  /* height: calc(100vh - 120px); */ /* Uklonite ovu liniju */
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.location {
  margin: 20px; /* Dodajte odgovarajući razmak između lokacija */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Boja pozadine sa providnošću */
  border-radius: 10px;
}

.location h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.location p {
  font-size: 18px;
  margin: 0;
}
